<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>

<body>
	<header>
		<script  type="text/javascript" src ="/js/header.js"></script>
	</header>
	<br>
	<div class="container">
		<h1 class="text-center">shresthashare@gmail.com</h1><br><br>
		<h1 class="text-center">ahtserhs227@gmail.com</h1><br><br>
		<h1 class="text-center">shrestha6941@gmail.com</h1>
	</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>