<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" th:href="@{/css/header.css}">

</head>

<body>
	<header>
		<script  type="text/javascript" src ="/js/header.js"></script>
	</header><br>
	<form action="#" th:action="@{/save}" th:object="${client}" method="post">
		<div class="form-row">
    		<div class="form-group col-md-3">
      			<label for="checkin">Check In</label>
      			<input type="date" class="form-control" id="checkin" name="checkin"required>
    		</div>
    		
    		<div class="form-group col-md-3">
      			<label for="checkout">Check Out</label>
     			 <input type="date" class="form-control" id="checkout" name="checkout"required>
    		</div>
    		<div class="form-group col-md-3">
      			<label for="people">People</label>
     			 <input type="text" class="form-control" id="people" name="people" onchange="calculateAmount(this.value)"required>
    		</div>
    		<div class="form-group col-md-3">
      			<label for="checkout">Total Price</label>
     			 <input type="text" class="form-control" id="totalprice" name="totalprice" readonly>
    		</div>
  		</div>
  		<div class="form-row">
  			<div class="form-group col-md-6">
    			<label for="firstname">First Name</label>
    			<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name"required>
  			</div>
  			<div class="form-group col-md-6">
    			<label for="lastname">Last Name</label>
   				 <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name"required>
  			</div>
  		</div>

  		<button type="submit" class="btn btn-primary" onclick="myFunction()">Book</button>
  	</form>
	<script>
		function calculateAmount(val){
			const inDate= document.getElementsByName("checkin")[0].value;
			const outDate = document.getElementsByName('checkout')[0].value;
			var date1 = new Date(inDate);
			var date2 = new Date(outDate);
			var Differenceintimes=date2.getTime()-date1.getTime();
			var Differenceindays = Differenceintimes/(1000*3600*24);
			if(inDate==""&&outDate==""){
				alert("Please Enter inDate and outDate also"); 
				location.reload();
			}
			else if(inDate== ""){
				alert("Please Enter inDate also"); 
				location.reload();
			}else if(outDate == ""){
				alert("Please Enter outDate also"); 
				location.reload();
			}else if(Differenceindays <= 0){
				alert("Please Enter Correct Date"); 
				location.reload();
			}
			var totalamount = Differenceindays*(100+20*(val-1));
			var divobj=document.getElementById('totalprice');
			divobj.value=totalamount;
		}
	</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>