<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>


<link rel="stylesheet" th:href="@{/css/header.css}"/>
</head>
<body>
	<div class="wrapper"><h1 class="hotelname">KaWa Hotel</h1>
		<header>
			<script  type="text/javascript" src ="/js/header.js"></script>
		</header>
	</div>	
	<div class="wrap"><p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.5916384201005!2d-87.6552863124289!3d41.98757664961575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd17655220de5%3A0x3f00335b2d807160!2s5800%20N%20Sheridan%20Rd%2C%20Chicago%2C%20IL%2060660!5e0!3m2!1sen!2sus!4v1574621260332!5m2!1sen!2sus" width="800" height="800"></iframe></p>
	</div>
	<script>
		$(function(){
  			$('a').each(function() {
    			if ($(this).prop('href') == window.location.href) {
      			$(this).addClass('current');
    			}
  			});
		});
	</script>
</body>
</html>